.body{

}

#logo {
    width: 100%;
    margin-top: 10px;
}

h1 {
    font-size:large;
}

.factFrame{
}

#empty-star {
    height: 20px;
}

#full-star {
    height: 25px;
}

.buttons{
}

#button-full-star {
    height: 30px;
}